

.single-cat{

  
    .cat-title{
        margin: 0 auto;
        
        padding: 2rem 0;
       width: 73%;
       
        
      
        h3{
           font-size: 1.8rem; 
           
        }
    }
}